# ======================================================================
# ИГНОРИРУЕМЫЕ ФАЙЛЫ ДЛЯ ПРОЕКТА "КАРТА ЖИЗНИ"
# ======================================================================

# 'Файлы Python'
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Файлы данных проекта
data/lifemap.db
data/database.db-journal
data/attachments/*
!data/attachments/.gitkeep

# Старье
oldik/*